.dealbook-container {
  background-color: #F9F9F9;
  color: #170C3A;
  font-family: Helvetica;
}

.dealbook-container__card {
  background-color: white;
  border-radius: 4px;
  border: 1px solid #DCDBE1;
  padding: 1rem 4rem;
  padding-bottom: 1.4rem;
}

.dealbook-container { 
  padding: 60px 2rem !important;
}
.dealbook-container__card {
  margin: 0 auto;
  max-width: 576px !important;
}

/* MEDIA QUERIES */
@media all and (max-width:639px){
  .dealbook-container { padding: 30px 1rem !important; }
  .dealbook-container__card { padding: 0.8rem 2rem; }
}