<div class="powered_by">
  <a class="made-by-bossabox" href="http://bossabox.com">
    <div class="face-primary">
      <div class="text-wrapper">
        <small><%= t('powered.by') %></small>
        <span><%= t('powered.bossa') %></span>
      </div>
    </div>
    <div class="face-secondary">
      <span class="icon7-icone"></span>
      <span class="icon7-seta"></span>
    </div>
  </a>
</div>
