.dealbook-modal {
  border-radius: 2px;
  font-family: 'Museo Sans', sans-serif;
}

.dealbook-modal .tingle-modal-box {
  width: 460px;
}

.dealbook-modal__header {
  padding: 16px 32px;
  border-bottom: 1px solid #CCCCCC;
  color: #354D96;
  font-family: 'Lato', sans-serif;
  font-size: 22px;
  font-weight: 600;
}

.dealbook-modal__content {
  padding: 32px;
}

.dealbook-modal__content h4 {
  color: #8C8C8C;
  font-family: 'Museo Sans', sans-serif;
  font-weight: 400;
}

.dealbook-modal__content h3 {
  color: #363C4A;
  font-weight: 500;
}

.dealbook-modal__content .dealbook-miniprofile__img {
  width: 64px;
  height: 64px;
  max-width: 64px;
  max-height: 64px;
  border-radius: 50%;
  margin: 16px;
}

.dealbook-miniprofile__img-col {
  float: left;
  width: 30%;
}

.dealbook-miniprofile__content-col {
  float: left;
  width: 70%;
  margin-bottom: 16px;
}

.dealbook-modal__content .dealbook-description {
  font-size: 18px;
  font-weight: 500;
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.dealbook-modal__content .dealbook-company {
  color: #363C4A;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 600;
  padding: 16px 0;
}

.dealbook-modal__content .dealbook-funding {
  color: #363C4A;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 600;
  padding: 8px 0;
}

.dealbook-modal__footer {
  padding: 32px;
  border-top: 1px solid #CCCCCC;
}

.dealbook-modal__footer .dealbook-footer__btn {
  background-color: #2CC9C2;
  border-radius: 2px;
  padding: 16px 32px;
  color: #FFFFFF;
  font-weight: 100;
}

@media screen and (max-width: 450px) {
  .dealbook-miniprofile__content-col {
    width: 100%;
    margin-bottom: 16px;
  }
}

