default: &default
  adapter: postgresql
  encoding: unicode
  host: <%= ENV.fetch("DEALBOOK_DATABASE_HOST") %>
  username: <%= ENV.fetch("DEALBOOK_DATABASE_USER") %>
  password: <%= ENV.fetch("DEALBOOK_DATABASE_PASSWORD") %>
  database: <%= ENV.fetch("DEALBOOK_DATABASE_NAME") %>
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default

  database: dealbook_development

test:
  <<: *default

  database: dealbook_test

production:
  <<: *default
