<section class="s-title-page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-7">
                <h1><%= t('investor.index.investors') %></h1>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-5">
                <h2>Ranking</h2>
            </div>
        </div>
    </div>
</section>
