<section class="s-title-about-us">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1><%= t('about.title') %></h1>
      </div>
    </div>
  </div>
</section>
<section class="history-dealbook">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="box-history">
          <div class="top">
            <h2>True story!</h2>
            <h1>The Dealbook History</h1>
          </div>
          <img src="/img/img-box-history.jpg" class="img-responsive" alt="">
        </div>
        <div class="text">
          <div class="item">
            <h1>La Vieja Planilla con los Venture capital brasileños…</h1>
            <p>El año era 2008. Yo era sólo un nerd, curioso sobre los caminos que la entonces llamada Web 2.0 estaba siguiendo.</p>
            <p>En la época, yo estaba leyendo y consumiendo mucho contenido sobre startups, venture capital y tendencias del mercado digital brasileño. Me estaba preparando para lanzar la versión brasileña de ReadWrite (RIP).</p>
            <p>Como yo estaba buscando aprender y entender el mercado de venture capital, fusiones y adquisiciones, acabé sintiendo la necesidad de catalogar y organizar las informaciones del mercado brasileño para aprendices personales y también para consulta futura. Entonces todo empezó.</p>
          </div>

          <div class="item">
            <h1>El nacimiento de la hoja de cálculo</h1>
            <p>En aquella época las informaciones no eran muy divulgadas y pocas personas acompañaban este mercado. Así que empecé una hoja de trabajo, que llamé cariñosamente el "Brazil Startup Dealbook", el nombre inspirado por la columna de la Bolsa de Valores del New York Times.</p>
            <p>En la primera versión, el Dealbook era sólo para referencia personal. Yo seguía las principales noticias sobre startups e intentaba catalogar por allá, pero sólo yo tenía acceso a los datos.</p>
            <p>En aquella época la planilla tenía sólo 6 columnas:</p>
            <ul>
              <li>Fecha de la transacción;</li>
              <li>Nombre de la empresa;</li>
              <li>Tipo de transacción: Inversión, fusión, adquisición?;</li>
              <li>Valor/cantidad;</li>
              <li>Nombre del fondo / comprador;</li>
              <li>Referencia a la fuente de la información.</li>
            </ul>
            <p>También tenía una pestaña para cada año, empezando en 2007.</p>
            <p>Era simple, pero funcionaba bien.</p>
          </div>
        </div>
        <div class="box-img-table">
          <img src="/img/img-table.jpg" class="img-responsive" alt="">
          <span>Foto del Nacimiento de Monashees Capital en 2007</span>
        </div>
        <div class="text">
          <div class="item">
            <p>Sin embargo, al año siguiente sucedió algo que calienta MUY el mercado de inversiones, startups y emprendedorismo digital en Brasil.</p>
          </div>
          <div class="item">
            <h1>Entra el Buscapé:</h1>
            <p>En septiembre de 2009 el grupo Naspers (un conglomerado de medios de Sudáfrica) anunció la adquisición de Buscapé, por 342 millones de dólares. De repente, startups e inversiones de venture capital se volvieron algo cool en Brasil.</p>
            <p>El mercado que antes estaba prácticamente muerto, comenzó a moverse. Inversores como Monashees, Tiger Global, Naspers y otros, empezaron a acelerar el paso de las inversiones en el país. Rápidamente Brasil comenzó a tener noticias frecuentes de inversiones, fusiones y aunque tímidas, adquisiciones, en el sector de Internet.</p>
            <p>En poco tiempo ya no podía seguir todos los vuelos. Entonces, en 2011, empecé a pensar sobre los beneficios potenciales de Crowdsourcing para el Dealbook. Subí la hoja de cálculo en Google Drive y empecé lentamente, compartiendo "my precious" con algunos empresarios más cercanos.</p>
            <p>El formato de Google Drive era legal, ya que permitía que otras personas incluyeran nuevos vuelos y, poco a poco, la base de datos fue creciendo. Para incluir un negocio, las únicas cosas que necesitaba hacer era incluir un enlace a la noticia y la fecha de la transacción.</p>
            <p>Como yo convivía con muchos otros emprendedores y estaba siempre hablando sobre el mercado, varias veces a la semana me veía enviando la hoja de trabajo a algún inversor o alguien en busca de inversiones. Allí por la 10ª vez que compartía mi creación, me tomé pensando en por qué no convertirla en un material público, abierto y libre para toda la comunidad.</p>
          </div>
          <div class="item">
            <h1>Going Public</h1>
            <p>En 2011 publiqué la hoja de trabajo para el mundo (ver el post en el Startupi) y ahí ella realmente ganó tracción muy rápido. En la fecha de publicación, por ejemplo, la hoja de cálculo tenía sólo 85 transacciones. Pero 42 de ellas habían sido sólo ese año, hasta el mes de noviembre.</p>
            <p>La primera gran ayuda vino de un socio de curaduría / moderación. El Luciano Tavares, fundador de Magnetis, estaba haciendo algunas inversiones ángel (Disclosure: Él es inversor-ángel en Rock Content) y disfrutó bastante la idea de la hoja de trabajo, empezando a contribuir con frecuencia.</p>
            <p>Rápidamente estábamos convirtiéndonos en la base de datos oficial de VC en Brasil y hasta actualizamos aún más la hoja de cálculo incluyendo inversiones de años anteriores, tratando de trazar con más detalle la historia del Venture Capital en el país. Sí, excavamos todos los vuelos de venture capital públicos BR que conseguimos encontrar. ¿Legal, no?</p>
          </div>
        </div>
        <div class="box-img">
          <img src="/img/img-grafico-dealbook.jpg" class="img-responsive" alt="">
          <span>Nuevos clasificados clasificados en el Dealbook, por año</span>
        </div>
        <div class="text">
          <div class="item">
            <h1>Y el Caos Reina…</h1>
            <p>Con el crecimiento en el volumen de los vuelos, y más personas con acceso a la planilla, rápidamente ella ganó vida propia. Cada día, más colaboradores añadían nuevas transacciones. Algunos llegaban a crear nuevas pestañas como listas de VCs, ángeles, aceleradoras y mucho más.</p>
            <p>Hemos tenido algunas vandalizaciones puntuales, pero Google Drive hacía fácil revertir y prohibir a los culpables. A poco, la comunidad aprendió a policiarse y sólo tuvimos que revertir los datos para versiones anteriores unas pocas veces.</p>
            <p>En poco tiempo estábamos golpeando el límite máximo de colaboradores de Google Drive y el Lu vino con una idea. Él me envió un mensaje en el chat más o menos así:</p>
            <div class="depo">
              <div class="photo">
                <img src="/img/photo-depo.jpg" class="img-responsive" alt="">
              </div>
              <div class="texto">
                <p>“Diego, estoy aprendiendo Rails en un bootcamp y tengo que hacer un proyecto final. <br>¿Sabes lo que voy (vamos, implícito) codar? DEALBOOK!”</p>
              </div>
            </div>
          </div>
          <div class="item">
            <p>Eso fue masa. No soy un buen programador, pero tope a la hora. En poco tiempo la cosa estaba saliendo del papel. Nuestra idea era soltar una versión simple de la aplicación, abrir el código en Github y dejar de rodar.</p>
            <p>El Lu hizo la mayor parte del trabajo de coding y hice ese diseño maravilloso usando Twitter Bootstrap 1.0 y una simple integración con LinkedIn.</p>
          </div>
          <div class="item">
            <h1>Dealbook.co</h1>
          </div>
        </div>
        <div class="box-img-02 box-img">
          <img src="/img/img-dealbook.jpg" class="img-responsive" alt="">
        </div>
        <div class="text">
          <div class="item">
            <p>En diciembre de 2012 el Lu compró el dominio y colocamos la aplicación en el aire. El código está abierto en Github desde entonces (ver mi último commit <%= link_to 'aquí', 'https://github.com/lucianot/dealbook/commit/a90860f0a3e904c4b6325cca7eab3920e749b48b', target: '_blank' %>). Ya en 2014 ganó un prototipo de una API básica.</p>
            <p>Pero el tiempo pasó y con la correría del día a día de emprendedores, acabamos dejando el proyecto de lado por un tiempo. La sorpresa fue que el Dealbook ya había creado vida propia.</p>
            <p>A pesar de ser un producto simple, varios usuarios sometieron parches, contenido y sugerencias de mejora. Hoy el Dealbook.co cuenta con una curaduría bien rica, hecha por más de 900 colaboradores voluntarios. Por eso, a pesar de que la aplicación es extremadamente simple y básica en muchos aspectos, sus datos llegan a ser más completos que los del famoso Crunchbase.</p>
            <p>Usted oyó bien: 9 años después, continuamos en el área y con mucho contenido legal, en muchos aspectos mejor que el Crunchbase.</p>
          </div>
        </div>
        <div class="box-img">
          <img src="/img/img-grafico-02.jpg" class="img-responsive" alt="">
        </div>
        <div class="text">
          <div class="item">
            <h1>Una buena causa ... pero llegó la hora de un revamp?</h1>
            <p>En el último año, intensificamos bastante el trabajo de curaduría, y enriquecimos mucho los datos del Dealbook. A pesar de eso, un producto de software de esta edad, también nos trae algunos desafíos.</p>
            <p>Nuestro objetivo con el Dealbook continúa siendo buscar, entender y documentar el mercado brasileño con una plataforma abierta y gratuita de datos confiables. Actualmente, estamos pensando en cómo podemos mejorar y evolucionar el proyecto.</p>
            <p>Y aquí es donde usted, que pasó su tiempo leyendo esa larga historia, entra en el juego con nosotros.</p>
          </div>
        </div>
        <div class="text">
          <div class="item">
            <h1>¿Cómo puedo ayudar?</h1>
            <p>La primera es muy fácil y sólo toma unos minutos.</p>
            <img src="/img/img-texto.jpg" class="img-texto img-responsive" alt="">
          </div>
          <div class="item">
            <p>Además, si desea participar de una forma más seria, basta con responder a estas preguntas:</p>
            <ul>
              <li>¿Qué piensas del Dealbook?</li>
              <li>¿Es útil?</li>
              <li>¿Todavía es relevante?</li>
              <li>¿Cómo podría mejorar?</li>
              <li>¿Usted tiene interés en contribuir con el proyecto de alguna manera?</li>
            </ul>
            <p>¿Quieres hacer aún más por el Dealbook? Usted puede enviar parches de funcionalidad en Github! Estamos aceptando contribuciones, ok?</p>
            <img src="/img/img-graphics.jpg" class="img-responsive" alt="">
            <div class="voce-topa">
              <h1>Y ahí, usted topa?</h1>
            </div>
          </div>
          <div class="item">
            <h1>El aprendizaje del Dealbook</h1>
            <p>Bueno, después de esa larga historia, aquí van algunas de las cosas legales que aprendemos de este proyecto.</p>
            <p>La mayor lección es que, en poco tiempo, una simple hoja de cálculo con datos del mercado brasileño logró cubrir un amplio territorio aún no explotado: el mercado de startups, VC's e inversores en Brasil.</p>
            <p>Hoy, casi 10 años después, el Dealbook puede ser considerado la base de datos más confiable (por ser moderada) de las inversiones, fusiones y adquisiciones en Brasil, desde los años 2000. Fue utilizado, por ejemplo, para la creación del Brazil Startup , Que hoy ya cuenta con casi 100 mil visualizaciones.</p>
            <p>Sí, el Dealbook es un MVP (¡y pone MVP en eso!) Pero poco tiempo después de su publicación, el trabajo de los pocos colaboradores iniciales fue amplificado y la comunidad tomó el control. Hoy en día el app cataloga más de 10x más negocios que cuando se creó en 2008, lo que es super bueno para una iniciativa voluntaria y sin fines de lucro.</p>
            <p>Y para finalizar, si usted ya usó o recuerda el Dealbook.co, da un aloe ahí en los comentarios y me cuente cómo fue su experiencia. Me encanta saber cómo podemos mejorar. :)</p>
          </div>
          <div class="item">
            <div class="team">
              <div class="box-team">
                <div class="photo">
                  <img src="/img/photo-luciano-tavares.jpg" class="img-responsive" alt="">
                </div>
                <div class="info">
                  <h1>Luciano Tavares</h1>
                  <span>Founder, CEO at Magnetis </span>
                </div>
                <div class="social">
                  <ul>
                    <li>
                      <a href="https://twitter.com/lucianot" target="_blank">
                        <img src="/img/twitter-azul-02.png" alt="">
                      </a>
                    </li>
                    <li>
                      <a href="https://www.linkedin.com/in/lucianot/" target="_blank">
                        <img src="/img/linkedin-azul.png" alt="">
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="box-team">
                <div class="photo">
                  <img src="/img/photo-diego-gomes.jpg" class="img-responsive" alt="">
                </div>
                <div class="info">
                  <h1>Diego Gomes</h1>
                  <span>Co-Founder & CMO at Rock Content </span>
                </div>
                <div class="social">
                  <ul>
                    <li>
                      <a href="https://www.facebook.com/diegogomes" target="_blank">
                        <img src="/img/facebook-azul-02.png" alt="">
                      </a>
                    </li>
                    <li>
                      <a href="https://twitter.com/dttg" target="_blank">
                        <img src="/img/twitter-azul-02.png" alt="">
                      </a>
                    </li>
                    <li>
                      <a href="https://www.linkedin.com/in/diegottg/" target="_blank">
                        <img src="/img/linkedin-azul.png" alt="">
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="sponsors">
              <div class="title-sponsors">
                <h1><%= t('about.sponsor') %></h1>
              </div>
              <div class="all-sponsors">

                <div class="box-sponsors">
                  <div class="logo">
                    <img src="/img/bossa.png" class="img-responsive" alt="">
                  </div>
                  <div class="info">
                    <h2>BossaBox</h2>
                    <p>
                      Una red de desarrolladores, diseñadores y
                      gerentes trabajando en su proyecto.
                    </p>

                    <a href="https://bossabox.com/" class="link" target="_blank">bossabox.com/</a>
                  </div>
                </div>

                <div class="box-sponsors">
                  <div class="logo">
                    <img src="/img/saasholic.png" class="img-responsive">
                  </div>
                  <div class="info">
                    <h2>SaaSholic</h2>
                    <p>
                      Información y actualizaciones sobre el mercado de SaaS en Brasil.
                    </p>

                    <a href="https://saasholic.com/" class="link" target="_blank">saasholic.com/</a>
                  </div>
                </div>

                <div class="box-sponsors">
                  <div class="logo">
                    <img src="/img/redpoint.png" class="img-responsive">
                  </div>
                  <div class="info">
                    <h2>Redpoint eventures</h2>
                    <p>
                      Una empresa de Venture Capital early stage, con foco en Internet.
                    </p>

                    <a href="https://rpev.com.br/" class="link" target="_blank">rpev.com.br/</a>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

