<section class="s-title-about-us">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1><%= t('about.title') %></h1>
      </div>
    </div>
  </div>
</section>
<section class="history-dealbook">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="box-history">
          <div class="top">
            <h2>True story!</h2>
            <h1>The Dealbook History</h1>
          </div>
          <img src="/img/img-box-history.jpg" class="img-responsive" alt="">
        </div>
        <div class="text">
          <div class="item">
            <h1>That Old Spreadsheet with brazilian VC funds...</h1>
            <p>
              The year was 2008. I was just one more nerd, curious about
              all the chosen paths of the called Web 2.0.
            </p>
            <p>
              On that time, I was reading and consuming a large amount of
              content and tendencies of the brazilian digital market.
              Preparing to launch the brazilian version of ReadWrite (RIP).
            </p>
            <p>
              As I was looking to learn and understand the venture capital
              market, merges and acquisitions, I felt the need of catalog and
              organize informations about the brazilian market, for future queries
              and as personal annotations. So, everything started.
            </p>
          </div>
          <div class="item">
            <h1>The birth of the spreadsheet</h1>
            <p>
              On that time informations wasn't very widespread and few people
              were on this market. So I started a spreadsheet, lovely called
              the “Brazil Startup Dealbook”, inspired by the Dealbook section,
              from New York Times.
            </p>
            <p>
              On the first version, the Dealbook was just for personal reference.
              I was following the news about startups and was trying to catalog
              through there, but the only one with access to the data was me.
            </p>
            <p>The spreadsheet has only 6 columns:</p>
            <ul>
              <li>Deal date;</li>
              <li>Company name;</li>
              <li>Deal type: Investment, merge or acquisition?;</li>
              <li>Amount;</li>
              <li>Fund name/buyer;</li>
              <li>Link to the information source.</li>
            </ul>
            <p>It has a new tab for each year, starting in 2007.</p>
            <p>It was simple, but worked well.</p>
          </div>
        </div>
        <div class="box-img-table">
          <img src="/img/img-table.jpg" class="img-responsive" alt="">
          <span>Picture of the birth of Monashees Capital, in 2007</span>
        </div>
        <div class="text">
          <div class="item">
            <p>
              However, on the following year happened something that made things
              much more serious on the investment and startups market in Brazil.
            </p>
          </div>
          <div class="item">
            <h1>Enter Buscapé:</h1>
            <p>
              In september 2009 the Naspers group (a midea conglomerate from
              South Africa) annouced the acquisition of Buscapé, by US$342 mi.

              Soon, startups and venture capital investments became something
              cool in Brazil.
            </p>
            <p>
              The market, almost dead previously, started to move. Investors
              as Monashees, Tiger Global, Naspers and others started to
              accelerate the investments on the country. Rapidly Brazil started
              to have news about investments, merges and acquisitions more
              frequently.
            </p>
            <p>
              In a small timestamp I wasn't more able to follow every deals
              on the country. Then, in 2011, I started to think about
              potentials benefits of the Crowdsourcing to Dealbook.
              Uploaded the spreadsheet on Google Drive and started
              slowly, sharing “my precious” with a few near entrepreneurs.
            </p>
            <p>
              The Google Drive format was nice, as it allowed other
              people to include new deals and, in small steps, the database
              started to grow. To include a new business, the only
              things needed were a link to an article and the deal date.
            </p>
            <p>
              As I was living with many entrepreneurs and was always talking
              about the market, many times a week I got myself sending the
              spreadsheet URL to some investor or someone looking for an
              investment. On the 10th time that I shared my creation, realized
              that could turn it into a public source, open and free to the
              entire community.
            </p>
          </div>
          <div class="item">
            <h1>Going Public</h1>
            <p>
              In 2011 published the spreadsheet to the world (see the post on
              Startupi) and it really started to grow fast. On the publish
              date, for example, the spreadsheet has only 85 deals. But 42 of
              them were made until that day, untill November.
            </p>
            <p>
              The first big help came erom a trustee. Luciano Tavares, founder
              of Magnetis, was doing some angel investments (Disclosure: he is
              angel investor of Rock Content) e really liked the idea of a
              spreadsheet, starting to contribute regularly.
            </p>
            <p>
              Rapidly we were becoming the Brazil's official VC database and
              started to include older deals on the spreadsheet, trying to
              follow with more detail the history of Venture Capital on the
              country. Yes, we scrapped all the public VC's deals that we
              could find. Nice, eh?
            </p>
          </div>
        </div>
        <div class="box-img">
          <img src="/img/img-grafico-dealbook.jpg" class="img-responsive" alt="">
          <span>Chart: New deals cataloged on Dealbook, per year</span>
        </div>
        <div class="text">
          <div class="item">
            <h1>And the chaos starts…</h1>
            <p>
              With the growth on the number of deals and even more people with
              access to the spreadsheet, rapidly it started to live by it's own.
              Daily, even more contributors added new deals. Some created new
              tabs as VCs list, angels, startup accelerators and much more.
            </p>
            <p>
              We had some one-off vandalism, but Google Drive made easy to
              revert an ban the guilty users. Slowly the community learned
              to regulate itself and we only reverted data for a few times.
            </p>
            <p>
              Shortly we hit the maximum limit of contributors of Google Drive
              and Lu came with an idea. He sent me a message saying something
              like:
            </p>
            <div class="depo">
              <div class="photo">
                <img src="/img/photo-depo.jpg" class="img-responsive" alt="">
              </div>
              <div class="texto">
                <p>
                  “Diego, I'm learning Rails in a bootcamp and I need a final project.
                  <br>You knows what I'm gonna (implicit us) code? DEALBOOK!”
                </p>
              </div>
            </div>
          </div>
          <div class="item">
            <p>
              That was awesome! I'm not a great developer, but accepted the
              project. In a small time the project started to have it's own
              identity. Our idea was to release a simple version of the app,
              open the code on Github and let it roll.
            </p>
            <p>
              Lu made the main coding part of the job and I did that amazing
              design, using Twitter Bootstrap 1.0 and a simple integration
              with LinkedIn.
            </p>
          </div>
          <div class="item">
            <h1>Dealbook.co</h1>
          </div>
        </div>
        <div class="box-img-02 box-img">
          <img src="/img/img-dealbook.jpg" class="img-responsive" alt="">
        </div>
        <div class="text">
          <div class="item">
            <p>
              In december of 2012, Lu bought the domain and we put our app
              live. The code is open on Github since then (see my last commit
              <%= link_to 'here', 'https://github.com/lucianot/dealbook/commit/a90860f0a3e904c4b6325cca7eab3920e749b48b', target: '_blank' %>).
              In 2014 it gained a prototype of a basic API.
            </p>
            <p>
              But some time passed and with the day by day routine of
              entrepreneurs, we have let the project aside for a while.
              The surprise was that Dealbook has already created it's
              own life.
            </p>
            <p>
              Even being a simple product, many volunteers submitted patchs,
              content and improvements suggestions. Today, dealbook.co has
              a very rich database, made by more than 900 contributors.
              So, even if the app it's extremely simple and basic in many
              aspects, the data by itself is even more complete than those
              from the famous Crunchbase.
            </p>
            <p>
              You've heard right: 9 years after we are still running with
              a lot of quality content, better than Crunchbase in many
              aspects.
            </p>
          </div>
        </div>
        <div class="box-img">
          <img src="/img/img-grafico-02.jpg" class="img-responsive" alt="">
        </div>
        <div class="text">
          <div class="item">
            <h1>A great history... but it's time for a revamp?</h1>
            <p>
              In the last year we intensified the curatorship work and
              enrichified a lot the Dealbook data. However, a software
              product with this age brings us some challenges.
            </p>
            <p>
              Our goal with Dealbook is still search, understand and
              document the brazilian's market, as an open and free
              platform of trusted sources. Currently, we are thinking
              how to improve and make the project evolve.
            </p>
            <p>
              And it's here that you, who spent your time reading this
              long history, appears on the game with us.
            </p>
          </div>
        </div>
        <div class="text">
          <div class="item">
            <h1>How can I help?</h1>
            <p>
              The first is very easy and takes just a few minutes.
            </p>
            <img src="/img/img-texto.jpg" class="img-texto img-responsive" alt="">
          </div>
          <div class="item">
            <p>
              Beyond that, if you want to participate in a more serious way,
              you can simply answer these questions:
            </p>
            <ul>
              <li>What do you think of Dealbook?</li>
              <li>It is useful?</li>
              <li>It is still relevant?</li>
              <li>How could it be better?</li>
              <li>Do you have interest in contributing by any mean?</li>
            </ul>
            <p>
              Do you want to make even more? You can send feature patches on
              <%= link_to 'Github', 'https://github.com/BossaBox/dealbook', target: '_blank' %>!
              We are accepting contributions, ok?
            </p>
            <img src="/img/img-graphics.jpg" class="img-responsive" alt="">
            <div class="voce-topa">
              <h1>So, let's do it?</h1>
            </div>
          </div>
          <div class="item">
            <h1>The Dealbook learnings</h1>
            <p>
              So, after this long history, here are a few nice things learned through the process.
            </p>
            <p>
              The greater one is that, in a small amount of time,
              a simples spreadsheet with brazilian's market data achieved and
              covered a large unexplored terrain: the startups, VCs and
              investors market in Brazil.
            </p>
            <p>
              Today, almost 10 years later, Dealbook can be considered the most
              trustful database (by being moderated) of investments, merges and
              acquisitions in Brazil, since the 2000s. It was used, for example,
              to create the Brazil Startup Report, today having almost 100 thousand
              views.
            </p>
            <p>
              Yes, Dealbook is a MVP (and what a MVP) but just after it's release,
              the work of the initial contributors was amplified and the community
              started to take the control over it. Today, the app catalogs more
              than 10x the number of business than when was created, in 2008,
              which is awesome for a volunteer and non-profit project.
            </p>
          </div>
          <div class="item">
            <div class="team">
              <div class="box-team">
                <div class="photo">
                  <img src="/img/photo-luciano-tavares.jpg" class="img-responsive" alt="">
                </div>
                <div class="info">
                  <h1>Luciano Tavares</h1>
                  <span>Founder, CEO at Magnetis </span>
                </div>
                <div class="social">
                  <ul>
                    <li>
                      <a href="https://twitter.com/lucianot" target="_blank">
                        <img src="/img/twitter-azul-02.png" alt="">
                      </a>
                    </li>
                    <li>
                      <a href="https://www.linkedin.com/in/lucianot/" target="_blank">
                        <img src="/img/linkedin-azul.png" alt="">
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="box-team">
                <div class="photo">
                  <img src="/img/photo-diego-gomes.jpg" class="img-responsive" alt="">
                </div>
                <div class="info">
                  <h1>Diego Gomes</h1>
                  <span>Co-Founder & CMO at Rock Content </span>
                </div>
                <div class="social">
                  <ul>
                    <li>
                      <a href="https://www.facebook.com/diegogomes" target="_blank">
                        <img src="/img/facebook-azul-02.png" alt="">
                      </a>
                    </li>
                    <li>
                      <a href="https://twitter.com/dttg" target="_blank">
                        <img src="/img/twitter-azul-02.png" alt="">
                      </a>
                    </li>
                    <li>
                      <a href="https://www.linkedin.com/in/diegottg/" target="_blank">
                        <img src="/img/linkedin-azul.png" alt="">
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="sponsors">
              <div class="title-sponsors">
                <h1><%= t('about.sponsor') %></h1>
              </div>
              <div class="all-sponsors">
                <div class="box-sponsors">
                  <div class="logo">
                    <img src="/img/bossa.png" class="img-responsive" alt="">
                  </div>
                  <div class="info">
                    <h2>BossaBox</h2>
                    <p>
                      A developers, designers and managers
                      network working on your project.
                    </p>

                    <a href="https://bossabox.com/" class="link" target="_blank">bossabox.com/</a>
                  </div>
                </div>

                <div class="box-sponsors">
                  <div class="logo">
                    <img src="/img/saasholic.png" class="img-responsive">
                  </div>
                  <div class="info">
                    <h2>SaaSholic</h2>
                    <p>
                      Informations and updates about the SaaS market in Brazil.
                    </p>

                    <a href="https://saasholic.com/" class="link" target="_blank">saasholic.com/</a>
                  </div>
                </div>

                <div class="box-sponsors">
                  <div class="logo">
                    <img src="/img/redpoint.png" class="img-responsive">
                  </div>
                  <div class="info">
                    <h2>Redpoint eventures</h2>
                    <p>
                      An early stage venture capital firm focused on the Internet.
                    </p>

                    <a href="https://rpev.com.br/" class="link" target="_blank">rpev.com.br/</a>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
