<div class="dealbook-header">Dealbook</div>

<p><%= I18n.t('auth.registration.mail.title') %></p>

<p><%= I18n.t('auth.registration.mail.body') %></p>

<p><%= link_to I18n.t('auth.registration.mail.confirm'), user_confirmation_url(confirmation_token: @token) %></p>
