---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/bossabox/dealbook/contributors
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 80773c9f5cc3f8f87cf235f2a754ae48e66a5d1e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4993'
      X-Ratelimit-Reset:
      - '1551146088'
      Etag:
      - W/"668d109ead0838286c91bca2518821c9"
      Last-Modified:
      - Tue, 26 Feb 2019 00:39:31 GMT
      X-Oauth-Scopes:
      - admin:org_hook, public_repo, read:org, repo:status
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"pgt","id":1042981,"node_id":"MDQ6VXNlcjEwNDI5ODE=","avatar_url":"https://avatars0.githubusercontent.com/u/1042981?v=4","gravatar_id":"","url":"https://api.github.com/users/pgt","html_url":"https://github.com/pgt","followers_url":"https://api.github.com/users/pgt/followers","following_url":"https://api.github.com/users/pgt/following{/other_user}","gists_url":"https://api.github.com/users/pgt/gists{/gist_id}","starred_url":"https://api.github.com/users/pgt/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pgt/subscriptions","organizations_url":"https://api.github.com/users/pgt/orgs","repos_url":"https://api.github.com/users/pgt/repos","events_url":"https://api.github.com/users/pgt/events{/privacy}","received_events_url":"https://api.github.com/users/pgt/received_events","type":"User","site_admin":false,"contributions":182},{"login":"lucaspbordignon","id":11822875,"node_id":"MDQ6VXNlcjExODIyODc1","avatar_url":"https://avatars3.githubusercontent.com/u/11822875?v=4","gravatar_id":"","url":"https://api.github.com/users/lucaspbordignon","html_url":"https://github.com/lucaspbordignon","followers_url":"https://api.github.com/users/lucaspbordignon/followers","following_url":"https://api.github.com/users/lucaspbordignon/following{/other_user}","gists_url":"https://api.github.com/users/lucaspbordignon/gists{/gist_id}",[...]
