<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <%= stylesheet_link_tag "mailer" %>
  </head>

  <body>
    <div class="dealbook-container">
      <div class="dealbook-header">
        Deal<strong>book</strong>
      </div>

      <div class="dealbook-container__card">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
